n8n/workflows/discovery/01-idea-discovery.json
{
  "name": "01 - Поиск SaaS идей",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            { "field": "cronExpression", "expression": "0 8 * * *" },
            { "field": "cronExpression", "expression": "0 14 * * *" },
            { "field": "cronExpression", "expression": "0 20 * * *" }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Расписание (3x день)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "https://news.google.com/rss/search?q=saas+automation+ai+tools+small+business&hl=en-US&gl=US&ceid=US:en",
        "options": { "timeout": 10000 }
      },
      "id": "google-news-saas",
      "name": "Google News: SaaS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 160]
    },
    {
      "parameters": {
        "url": "https://news.google.com/rss/search?q=niche+software+vertical+saas+workflow+automation&hl=en-US&gl=US&ceid=US:en",
        "options": { "timeout": 10000 }
      },
      "id": "google-news-vertical",
      "name": "Google News: Vertical",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "url": "https://www.reddit.com/r/SaaS/new.json?limit=25",
        "options": {
          "timeout": 10000,
          "headers": {
            "User-Agent": "Mozilla/5.0 Autonomy-Bot/1.0"
          }
        }
      },
      "id": "reddit-saas",
      "name": "Reddit r/SaaS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 440]
    },
    {
      "parameters": {
        "jsCode": "// Parse all RSS/Reddit sources into unified format\nconst items = [];\n\nfor (const input of $input.all()) {\n  const body = input.json.data || input.json.body || '';\n  const nodeName = input.pairedItem ? '' : '';\n\n  // Try RSS XML parsing\n  if (typeof body === 'string' && body.includes('<item>')) {\n    const regex = /<item>[\\s\\S]*?<title>(?:<!\\[CDATA\\[)?([^<\\]]+)(?:\\]\\]>)?<\\/title>[\\s\\S]*?<link>([^<]+)<\\/link>[\\s\\S]*?<\\/item>/g;\n    let match;\n    while ((match = regex.exec(body)) !== null) {\n      items.push({\n        json: {\n          title: match[1].trim(),\n          url: match[2].trim(),\n          source: 'Google News',\n          raw: match[1].trim()\n        }\n      });\n    }\n  }\n\n  // Try Reddit JSON\n  if (input.json && input.json.data && input.json.data.children) {\n    for (const child of input.json.data.children) {\n      const post = child.data;\n      if (post && post.title) {\n        items.push({\n          json: {\n            title: post.title,\n            url: `https://reddit.com${post.permalink}`,\n            source: 'Reddit r/SaaS',\n            raw: (post.selftext || post.title).slice(0, 200)\n          }\n        });\n      }\n    }\n  }\n}\n\n// Filter and deduplicate\nconst keywords = ['saas', 'software', 'automation', 'ai', 'startup', 'niche', 'vertical', 'workflow', 'crm', 'api', 'platform', 'subscription', 'tool', 'app'];\nconst seen = new Set();\nconst filtered = [];\n\nfor (const item of items) {\n  const title = item.json.title.toLowerCase();\n  if (!title || seen.has(title)) continue;\n  if (!keywords.some(kw => title.includes(kw))) continue;\n  seen.add(title);\n  filtered.push(item);\n}\n\nreturn filtered.slice(0, 5);"
      },
      "id": "parse-and-filter",
      "name": "Парсинг и фильтр",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "PASTE_YOUR_API_KEY_HERE" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=JSON.stringify({ model: 'claude-haiku-4-5-20251001', max_tokens: 400, messages: [{ role: 'user', content: 'Score this SaaS idea on 8 criteria (0-10 each). Idea: ' + $json.title + '\\n\\nCriteria: market size, automation potential, pain intensity, competition (10=none), willingness to pay, profit margin, build complexity (10=very easy), market timing.\\n\\nReply ONLY with JSON, no other text: {\"market\":7,\"automation\":8,\"pain\":6,\"competition\":5,\"willingnessToPay\":7,\"margin\":8,\"build\":7,\"timing\":6,\"summary\":\"One sentence in Russian\"}' }] })",
        "options": {
          "timeout": 30000,
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 2000
            }
          }
        }
      },
      "id": "claude-score",
      "name": "Claude: Скоринг",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 300]
    },
    {
      "parameters": {
        "jsCode": "// Calculate composite score and build idea object\nconst results = [];\n\nfor (const item of $input.all()) {\n  try {\n    let scoreData = null;\n    const response = item.json;\n\n    if (response.content && response.content[0] && response.content[0].text) {\n      const text = response.content[0].text.trim();\n      const jsonMatch = text.match(/\\{[\\s\\S]*\\}/);\n      if (jsonMatch) scoreData = JSON.parse(jsonMatch[0]);\n    }\n\n    if (!scoreData) continue;\n\n    const weights = { market:0.15, automation:0.20, pain:0.15, competition:0.10, willingnessToPay:0.10, margin:0.10, build:0.10, timing:0.10 };\n    let composite = 0;\n    for (const [k, w] of Object.entries(weights)) composite += (scoreData[k] || 0) * w;\n    composite = Math.round(composite * 10) / 10;\n\n    let verdict = 'KILL';\n    if (composite >= 8.0) verdict = 'BUILD';\n    else if (composite >= 6.5) verdict = 'BET';\n    else if (composite >= 4.5) verdict = 'FLIP';\n\n    // Get source idea from previous node\n    const sourceIdea = $('Парсинг и фильтр').item.json;\n\n    results.push({\n      json: {\n        id: Date.now() + Math.floor(Math.random() * 1000),\n        title: sourceIdea.title,\n        description: scoreData.summary || '',\n        source: sourceIdea.source,\n        sourceUrl: sourceIdea.url,\n        scoreComposite: composite,\n        verdict,\n        verdictReason: scoreData.summary || '',\n        status: 'new',\n        discoveredAt: new Date().toISOString(),\n        scores: {\n          market: scoreData.market,\n          automation: scoreData.automation,\n          pain: scoreData.pain,\n          competition: scoreData.competition,\n          willingnessToPay: scoreData.willingnessToPay,\n          margin: scoreData.margin,\n          build: scoreData.build,\n          timing: scoreData.timing\n        }\n      }\n    });\n  } catch(e) {\n    // skip failed\n  }\n}\n\nreturn results;"
      },
      "id": "calc-score",
      "name": "Рассчитать балл",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 300]
    },
    {
      "parameters": {
        "jsCode": "// Collect all scored ideas and save to JSON file\nconst fs = require('fs');\nconst path = require('path');\n\nconst filePath = 'C:/autonomy-data/ideas.json';\nconst dir = path.dirname(filePath);\n\n// Create directory if needed\nif (!fs.existsSync(dir)) fs.mkdirSync(dir, { recursive: true });\n\n// Load existing ideas\nlet existing = [];\ntry {\n  const raw = fs.readFileSync(filePath, 'utf8');\n  existing = JSON.parse(raw);\n} catch(e) {\n  existing = [];\n}\n\n// Add new ideas (skip duplicates by title)\nconst existingTitles = new Set(existing.map(i => i.title.toLowerCase()));\nconst newIdeas = [];\n\nfor (const item of $input.all()) {\n  const idea = item.json;\n  if (!existingTitles.has(idea.title.toLowerCase())) {\n    existing.push(idea);\n    newIdeas.push(idea);\n  }\n}\n\n// Auto-delete KILL/FLIP older than 10 days\nconst tenDaysAgo = new Date();\ntenDaysAgo.setDate(tenDaysAgo.getDate() - 10);\nexisting = existing.filter(idea => {\n  if (idea.verdict === 'KILL' || idea.verdict === 'FLIP') {\n    return new Date(idea.discoveredAt) > tenDaysAgo;\n  }\n  return true;\n});\n\n// Save\nfs.writeFileSync(filePath, JSON.stringify(existing, null, 2), 'utf8');\n\nreturn [{\n  json: {\n    status: 'success',\n    newIdeas: newIdeas.length,\n    totalIdeas: existing.length,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "save-to-file",
      "name": "Сохранить в файл",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1440, 300]
    }
  ],
  "connections": {
    "Расписание (3x день)": {
      "main": [[
        { "node": "Google News: SaaS", "type": "main", "index": 0 },
        { "node": "Google News: Vertical", "type": "main", "index": 0 },
        { "node": "Reddit r/SaaS", "type": "main", "index": 0 }
      ]]
    },
    "Google News: SaaS": {
      "main": [[{ "node": "Парсинг и фильтр", "type": "main", "index": 0 }]]
    },
    "Google News: Vertical": {
      "main": [[{ "node": "Парсинг и фильтр", "type": "main", "index": 0 }]]
    },
    "Reddit r/SaaS": {
      "main": [[{ "node": "Парсинг и фильтр", "type": "main", "index": 0 }]]
    },
    "Парсинг и фильтр": {
      "main": [[{ "node": "Claude: Скоринг", "type": "main", "index": 0 }]]
    },
    "Claude: Скоринг": {
      "main": [[{ "node": "Рассчитать балл", "type": "main", "index": 0 }]]
    },
    "Рассчитать балл": {
      "main": [[{ "node": "Сохранить в файл", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "tags": ["discovery", "autonomous"]
}
