n8n/workflows/discovery/01-idea-discovery.json
{
  "name": "01 - Поиск SaaS идей",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            { "field": "cronExpression", "expression": "0 8 * * *" },
            { "field": "cronExpression", "expression": "0 14 * * *" },
            { "field": "cronExpression", "expression": "0 20 * * *" }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Расписание (3x день)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "https://news.google.com/rss/search?q=saas+automation+ai+tools+small+business&hl=en-US&gl=US&ceid=US:en",
        "options": { "timeout": 10000 }
      },
      "id": "google-news-saas",
      "name": "Google News: SaaS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 160]
    },
    {
      "parameters": {
        "url": "https://news.google.com/rss/search?q=niche+software+vertical+saas+workflow+automation&hl=en-US&gl=US&ceid=US:en",
        "options": { "timeout": 10000 }
      },
      "id": "google-news-vertical",
      "name": "Google News: Vertical",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "url": "https://www.reddit.com/r/SaaS/new.json?limit=25",
        "options": {
          "timeout": 10000,
          "headers": { "User-Agent": "Mozilla/5.0 Autonomy-Bot/1.0" }
        }
      },
      "id": "reddit-saas",
      "name": "Reddit r/SaaS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 440]
    },
    {
      "parameters": {
        "jsCode": "const items = [];\n\nfor (const input of $input.all()) {\n  const body = input.json.data || input.json.body || '';\n\n  if (typeof body === 'string' && body.includes('<item>')) {\n    const regex = /<item>[\\s\\S]*?<title>(?:<!\\[CDATA\\[)?([^<\\]]+)(?:\\]\\]>)?<\\/title>[\\s\\S]*?<link>([^<]+)<\\/link>[\\s\\S]*?<\\/item>/g;\n    let match;\n    while ((match = regex.exec(body)) !== null) {\n      items.push({ json: { title: match[1].trim(), url: match[2].trim(), source: 'Google News' } });\n    }\n  }\n\n  if (input.json && input.json.data && input.json.data.children) {\n    for (const child of input.json.data.children) {\n      const post = child.data;\n      if (post && post.title) {\n        items.push({ json: { title: post.title, url: 'https://reddit.com' + post.permalink, source: 'Reddit r/SaaS' } });\n      }\n    }\n  }\n}\n\nconst keywords = ['saas', 'software', 'automation', 'ai', 'startup', 'niche', 'vertical', 'workflow', 'crm', 'api', 'platform', 'subscription', 'tool', 'app'];\nconst seen = new Set();\nconst filtered = [];\n\nfor (const item of items) {\n  const title = item.json.title.toLowerCase();\n  if (!title || seen.has(title)) continue;\n  if (!keywords.some(kw => title.includes(kw))) continue;\n  seen.add(title);\n  filtered.push(item);\n}\n\nreturn filtered.slice(0, 5);"
      },
      "id": "parse-and-filter",
      "name": "Парсинг и фильтр",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 300]
    },
    {
      "parameters": {
        "jsCode": "// Build Anthropic request body as a safe JSON string\nconst title = $json.title || '';\nconst prompt = 'Score this SaaS idea on 8 criteria (0-10 each). Idea: ' + title + '\\n\\nCriteria: market size (market), automation potential (automation), pain intensity (pain), low competition = high score (competition), willingness to pay (willingnessToPay), profit margin (margin), build complexity - low = easy (build), market timing (timing).\\n\\nReply ONLY with this JSON structure, no markdown, no extra text:\\n{\"market\":7,\"automation\":8,\"pain\":6,\"competition\":5,\"willingnessToPay\":7,\"margin\":8,\"build\":7,\"timing\":6,\"summary\":\"One sentence about this idea in Russian\"}';\n\nconst body = {\n  model: 'claude-haiku-4-5-20251001',\n  max_tokens: 400,\n  messages: [{ role: 'user', content: prompt }]\n};\n\nreturn [{\n  json: {\n    title: $json.title,\n    url: $json.url,\n    source: $json.source,\n    requestBody: JSON.stringify(body)\n  }\n}];"
      },
      "id": "build-request",
      "name": "Подготовить запрос",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "PASTE_YOUR_API_KEY_HERE" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "={{ $json.requestBody }}",
        "options": {
          "timeout": 30000,
          "batching": {
            "batch": { "batchSize": 1, "batchInterval": 3000 }
          }
        }
      },
      "id": "claude-score",
      "name": "Claude: Скоринг",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 300]
    },
    {
      "parameters": {
        "jsCode": "const results = [];\n\nfor (const item of $input.all()) {\n  try {\n    const response = item.json;\n    let scoreData = null;\n\n    if (response.content && response.content[0] && response.content[0].text) {\n      const text = response.content[0].text.trim();\n      const jsonMatch = text.match(/\\{[\\s\\S]*?\\}/);\n      if (jsonMatch) scoreData = JSON.parse(jsonMatch[0]);\n    }\n\n    if (!scoreData) continue;\n\n    const weights = { market:0.15, automation:0.20, pain:0.15, competition:0.10, willingnessToPay:0.10, margin:0.10, build:0.10, timing:0.10 };\n    let composite = 0;\n    for (const [k, w] of Object.entries(weights)) composite += (scoreData[k] || 0) * w;\n    composite = Math.round(composite * 10) / 10;\n\n    let verdict = 'KILL';\n    if (composite >= 8.0) verdict = 'BUILD';\n    else if (composite >= 6.5) verdict = 'BET';\n    else if (composite >= 4.5) verdict = 'FLIP';\n\n    const sourceIdea = $('Подготовить запрос').item.json;\n\n    results.push({\n      json: {\n        id: Date.now() + Math.floor(Math.random() * 1000),\n        title: sourceIdea.title,\n        description: scoreData.summary || '',\n        source: sourceIdea.source,\n        sourceUrl: sourceIdea.url || '',\n        scoreComposite: composite,\n        verdict,\n        verdictReason: scoreData.summary || '',\n        status: 'new',\n        discoveredAt: new Date().toISOString(),\n        scores: {\n          market: scoreData.market || 0,\n          automation: scoreData.automation || 0,\n          pain: scoreData.pain || 0,\n          competition: scoreData.competition || 0,\n          willingnessToPay: scoreData.willingnessToPay || 0,\n          margin: scoreData.margin || 0,\n          build: scoreData.build || 0,\n          timing: scoreData.timing || 0\n        }\n      }\n    });\n  } catch(e) {}\n}\n\nreturn results;"
      },
      "id": "calc-score",
      "name": "Рассчитать балл",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1440, 300]
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst filePath = 'C:/autonomy-data/ideas.json';\n\nif (!fs.existsSync('C:/autonomy-data')) fs.mkdirSync('C:/autonomy-data', { recursive: true });\n\nlet existing = [];\ntry { existing = JSON.parse(fs.readFileSync(filePath, 'utf8')); } catch(e) {}\n\nconst existingTitles = new Set(existing.map(i => i.title.toLowerCase()));\nconst newIdeas = [];\n\nfor (const item of $input.all()) {\n  const idea = item.json;\n  if (!existingTitles.has(idea.title.toLowerCase())) {\n    existing.push(idea);\n    newIdeas.push(idea);\n  }\n}\n\nconst tenDaysAgo = new Date();\ntenDaysAgo.setDate(tenDaysAgo.getDate() - 10);\nexisting = existing.filter(idea => {\n  if (idea.verdict === 'KILL' || idea.verdict === 'FLIP') return new Date(idea.discoveredAt) > tenDaysAgo;\n  return true;\n});\n\nfs.writeFileSync(filePath, JSON.stringify(existing, null, 2), 'utf8');\n\nreturn [{ json: { status: 'success', newIdeas: newIdeas.length, totalIdeas: existing.length, timestamp: new Date().toISOString() } }];"
      },
      "id": "save-to-file",
      "name": "Сохранить в файл",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1680, 300]
    }
  ],
  "connections": {
    "Расписание (3x день)": {
      "main": [[
        { "node": "Google News: SaaS", "type": "main", "index": 0 },
        { "node": "Google News: Vertical", "type": "main", "index": 0 },
        { "node": "Reddit r/SaaS", "type": "main", "index": 0 }
      ]]
    },
    "Google News: SaaS": { "main": [[{ "node": "Парсинг и фильтр", "type": "main", "index": 0 }]] },
    "Google News: Vertical": { "main": [[{ "node": "Парсинг и фильтр", "type": "main", "index": 0 }]] },
    "Reddit r/SaaS": { "main": [[{ "node": "Парсинг и фильтр", "type": "main", "index": 0 }]] },
    "Парсинг и фильтр": { "main": [[{ "node": "Подготовить запрос", "type": "main", "index": 0 }]] },
    "Подготовить запрос": { "main": [[{ "node": "Claude: Скоринг", "type": "main", "index": 0 }]] },
    "Claude: Скоринг": { "main": [[{ "node": "Рассчитать балл", "type": "main", "index": 0 }]] },
    "Рассчитать балл": { "main": [[{ "node": "Сохранить в файл", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1", "saveManualExecutions": true },
  "tags": ["discovery", "autonomous"]
}
