n8n/workflows/build/02-launch-agent.json
{
  "name": "02 - Launch Agent (Запуск идеи)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "launch-idea",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook: Запустить идею",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "launch-idea-webhook"
    },
    {
      "parameters": {
        "jsCode": "// ВСТАВЬ СВОЙ API КЛЮЧ:\r\nconst ANTHROPIC_API_KEY = 'PASTE_YOUR_KEY_HERE';\r\n\r\nconst body = $input.first().json.body || $input.first().json;\r\nconst title = body.title || '';\r\nconst description = body.description || '';\r\n\r\nconst prompt = 'You are a senior full-stack developer. Create a COMPLETE working Next.js 14 SaaS project for this idea.\\n\\nIdea: ' + title + '\\nDescription: ' + description + '\\n\\nReturn ONLY a JSON object (no markdown, no explanation) with this exact structure:\\n{\\n  \"productName\": \"Short product name\",\\n  \"tagline\": \"One compelling line\",\\n  \"problem\": \"Problem in 2 sentences\",\\n  \"solution\": \"Solution in 2 sentences\",\\n  \"targetAudience\": \"Specific target audience\",\\n  \"domain\": \"suggested-domain.com\",\\n  \"pricing\": [{\"plan\": \"Starter\", \"price\": \"$29/mo\", \"features\": [\"Feature 1\", \"Feature 2\", \"Feature 3\"]}, {\"plan\": \"Pro\", \"price\": \"$79/mo\", \"features\": [\"Feature 1\", \"Feature 2\", \"Feature 3\", \"Feature 4\"]}],\\n  \"files\": [\\n    {\"path\": \"package.json\", \"content\": \"complete package.json with next, react, tailwindcss, typescript deps\"},\\n    {\"path\": \"next.config.ts\", \"content\": \"complete next.config.ts\"},\\n    {\"path\": \"tailwind.config.ts\", \"content\": \"complete tailwind config with dark theme\"},\\n    {\"path\": \"app/globals.css\", \"content\": \"globals with tailwind directives and dark variables\"},\\n    {\"path\": \"app/layout.tsx\", \"content\": \"root layout with metadata and dark theme\"},\\n    {\"path\": \"app/page.tsx\", \"content\": \"FULL beautiful dark landing page (#0a0a0a bg, white text) with: hero section with big headline + CTA button, problem section, features grid (6 features), pricing cards (2 tiers), footer. Use Tailwind only, no external libs.\"},\\n    {\"path\": \"app/dashboard/page.tsx\", \"content\": \"Dashboard page with sidebar, stats cards, recent activity table. Mock data inline.\"},\\n    {\"path\": \"app/dashboard/layout.tsx\", \"content\": \"Dashboard layout with sidebar navigation\"},\\n    {\"path\": \"README.md\", \"content\": \"# ProductName\\\\n\\\\nTagline\\\\n\\\\n## Quick Start\\\\n\\\\n```bash\\\\nnpm install\\\\nnpm run dev\\\\n```\\\\n\\\\nOpen http://localhost:3000\\\\n\\\\n## Features\\\\n\\\\n- Feature list\\\\n\\\\n## Tech Stack\\\\n\\\\n- Next.js 14 App Router\\\\n- TypeScript\\\\n- Tailwind CSS\\\\n- Stripe (add later)\\\\n\"}\\n  ]\\n}\\n\\nIMPORTANT: Every file must have COMPLETE, RUNNABLE code. No TODOs, no placeholders, no \"// add your code here\". The app must work with just npm install && npm run dev.';\r\n\r\nconst bodyStr = JSON.stringify({\r\n  model: 'claude-haiku-4-5-20251001',\r\n  max_tokens: 8000,\r\n  messages: [{ role: 'user', content: prompt }]\r\n});\r\n\r\nconst result = await new Promise((resolve, reject) => {\r\n  const https = require('https');\r\n  const req = https.request({\r\n    hostname: 'api.anthropic.com',\r\n    path: '/v1/messages',\r\n    method: 'POST',\r\n    headers: {\r\n      'x-api-key': ANTHROPIC_API_KEY,\r\n      'anthropic-version': '2023-06-01',\r\n      'content-type': 'application/json',\r\n      'content-length': Buffer.byteLength(bodyStr)\r\n    }\r\n  }, res => {\r\n    let d = '';\r\n    res.on('data', c => d += c);\r\n    res.on('end', () => resolve({ status: res.statusCode, body: d }));\r\n  });\r\n  req.on('error', reject);\r\n  req.write(bodyStr);\r\n  req.end();\r\n});\r\n\r\nif (result.status !== 200) throw new Error('Anthropic error ' + result.status + ': ' + result.body);\r\n\r\nconst data = JSON.parse(result.body);\r\nlet product = null;\r\n\r\nif (data.content && data.content[0] && data.content[0].text) {\r\n  const text = data.content[0].text.trim();\r\n  const match = text.match(/\\{[\\s\\S]*\\}/);\r\n  if (match) {\r\n    try { product = JSON.parse(match[0]); } catch(e) {\r\n      throw new Error('JSON parse failed: ' + e.message + '\\n\\nRaw: ' + text.slice(0, 500));\r\n    }\r\n  }\r\n}\r\n\r\nif (!product) throw new Error('Could not parse product from Claude response');\r\n\r\nreturn [{\r\n  json: {\r\n    ...product,\r\n    ideaId: body.ideaId,\r\n    ideaTitle: title,\r\n    generatedAt: new Date().toISOString()\r\n  }\r\n}];\r\n"
      },
      "id": "claude-generate",
      "name": "Claude: Генерировать продукт (https)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\r\nconst path = require('path');\r\nconst product = $input.first().json;\r\n\r\nif (product.error) return [{ json: product }];\r\n\r\nconst slug = (product.productName || 'product').toLowerCase().replace(/[^a-z0-9]/g, '-').replace(/-+/g, '-');\r\nconst projectDir = 'C:/autonomy-launches/' + slug;\r\n\r\n// Create project directory\r\nif (!fs.existsSync(projectDir)) fs.mkdirSync(projectDir, { recursive: true });\r\n\r\n// Save all generated code files\r\nconst savedFiles = [];\r\nif (product.files && Array.isArray(product.files)) {\r\n  for (const file of product.files) {\r\n    const filePath = path.join(projectDir, file.path);\r\n    const fileDir = path.dirname(filePath);\r\n    if (!fs.existsSync(fileDir)) fs.mkdirSync(fileDir, { recursive: true });\r\n    fs.writeFileSync(filePath, file.content, 'utf8');\r\n    savedFiles.push(file.path);\r\n  }\r\n}\r\n\r\n// Also save landing page as index.html (for quick preview)\r\nif (product.landingPageHtml) {\r\n  fs.writeFileSync(path.join(projectDir, 'index.html'), product.landingPageHtml, 'utf8');\r\n  savedFiles.push('index.html');\r\n} else {\r\n  // Extract landing from files if app/page.tsx exists\r\n  const pageTsx = product.files && product.files.find(f => f.path === 'app/page.tsx');\r\n  if (pageTsx) {\r\n    // Save a quick-open HTML hint\r\n    const hint = '<!DOCTYPE html><html><body style=\"font-family:sans-serif;padding:2rem;background:#0a0a0a;color:white\"><h1>' + product.productName + '</h1><p>' + product.tagline + '</p><hr><p>Чтобы запустить проект:<br><code style=\"background:#1a1a1a;padding:0.5rem 1rem;border-radius:4px;display:block;margin:1rem 0\">cd ' + projectDir.replace(/\\//g, '\\\\') + '<br>npm install<br>npm run dev</code></p><p>Затем открой <a href=\"http://localhost:3000\" style=\"color:#60a5fa\">http://localhost:3000</a></p></body></html>';\r\n    fs.writeFileSync(path.join(projectDir, 'index.html'), hint, 'utf8');\r\n  }\r\n}\r\n\r\n// Save brief\r\nconst brief = { ...product };\r\ndelete brief.files;\r\ndelete brief.landingPageHtml;\r\nfs.writeFileSync(path.join(projectDir, 'brief.json'), JSON.stringify(brief, null, 2), 'utf8');\r\n\r\n// Update registry\r\nif (!fs.existsSync('C:/autonomy-data')) fs.mkdirSync('C:/autonomy-data', { recursive: true });\r\nconst registryPath = 'C:/autonomy-data/launches.json';\r\nlet launches = [];\r\ntry { launches = JSON.parse(fs.readFileSync(registryPath, 'utf8')); } catch(e) {}\r\n\r\nlaunches.push({\r\n  id: Date.now(),\r\n  ideaId: product.ideaId,\r\n  ideaTitle: product.ideaTitle,\r\n  productName: product.productName,\r\n  tagline: product.tagline,\r\n  slug,\r\n  domain: product.domain,\r\n  status: 'generated',\r\n  projectDir,\r\n  savedFiles,\r\n  generatedAt: product.generatedAt\r\n});\r\nfs.writeFileSync(registryPath, JSON.stringify(launches, null, 2), 'utf8');\r\n\r\nreturn [{\r\n  json: {\r\n    success: true,\r\n    productName: product.productName,\r\n    tagline: product.tagline,\r\n    slug,\r\n    projectDir,\r\n    domain: product.domain,\r\n    savedFiles,\r\n    filesCount: savedFiles.length,\r\n    generatedAt: product.generatedAt\r\n  }\r\n}];\r\n"
      },
      "id": "save-launch",
      "name": "Сохранить проект",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "id": "webhook-response",
      "name": "Ответить клиенту",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        900,
        300
      ]
    }
  ],
  "connections": {
    "Webhook: Запустить идею": {
      "main": [
        [
          {
            "node": "Claude: Генерировать продукт (https)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сохранить проект": {
      "main": [
        [
          {
            "node": "Ответить клиенту",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude: Генерировать продукт (https)": {
      "main": [
        [
          {
            "node": "Сохранить проект",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    "launch",
    "builder"
  ]
}